    <h1>Contact</h1>
    <p>
      To learn more about &quot;<%= $base_title %>&quot;, go to <a href="http://railsforzombies.org/" target="_blank">Rails for Zombies by EnvyLabs</a>.
    </p>
    <p>
      Of course, this entire application is based off the tutorials from the
      <a href="http://railstutorial.org/" target="_blank">Ruby on Rails Tutorial</a> by Michael Hartl.
    </p>
