    <h1>TZitter</h1>
    <p>
      Welcome to TZitter: Twitter for Zombies! To learn more about &quot;Twitter for Zombies&quot;, go to <a href="http://railsforzombies.org/" target="_blank">Rails for Zombies by EnvyLabs</a>.
    </p>
    <p>
      Of course, this entire application is based off the tutorials from the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a> by Michael Hartl.
    </p>
